@import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    background-image: radial-gradient(currentColor .5px, transparent .5px);
    background-size: calc(10* .5px) calc(10* .5px);
    font-family: 'Roboto', serif;

}

h2,
h4 {
    margin: 7px;
}

form {
    margin-top: 40px;
    margin-bottom: 150px;
    width: max-content;
}

.input-row {
    display: flex;
    margin-bottom: 5px;
    flex-direction: column;
    margin-bottom: 30px;
}

input,
textarea,
select {
    margin: 5px;
}

/* input[type="submit"]{
margin-top: 20px;
} */
input[type="date"] {
    width: 150px;
}

textarea {
    width: 400px;
}

#txtHint {
    width: 350px;
    margin: 0px auto;
}

.remove-btn {
    background-color: brown;
    color: white;
    border: none;
    cursor: pointer;
    width: 25px;
    height: 25px;
    margin-top: 6px;
    margin-left: 10px;
    border-radius: 50%;
    font-size: 1.5em;
    line-height: 25px;
    transform: rotate(45deg);
    text-align: center;
}

.add-btn {
    line-height: 28px;
    top: 69px;
    right: 558px;
}

.save {
    top: 100px;
    right: 558px;
}

.pad {
    background-color: #2f6ca0;
    color: white;
    border: none;
    cursor: pointer;
    width: 150px;
    height: 30px;
    font-size: 1em;
    text-align: center;
}

select {
    width: 150px;
    height: 20px;
}

.state {
    padding: 5px 10px;
    position: fixed;
    left: 0;
    top: 37px;
    width: 200px;
    color: white;
}

.colorInfo {
    background-color: #C1121F;
}

.colorInfoOk {
    background-color: #55A630;
}

.flag {
    width: 40px;
    height: 40px;
    background-color: #ffffff;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-left: 5px;
    border: 1px solid #000;
}

.flex {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.agendaDateSize {
    position: fixed;
    top: 4px;
    text-align: center;
    height: 32px;
    width: 220px;
}